body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s;
}

button {
    padding: 16px 32px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background: #0099ff;
    color: #ff0000;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(93, 0, 255);
    transition: background 0.2s;
}

button:hover {
    background: #00ffdd;
    color: #ff1596;
}